body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

/** this is the header **/
header {
  justify-content: center;
  color: #a2dbf7;
  padding-top: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

header img {
  padding-right: 0.7rem;
}

header p {
  color: #6d6e71;
  font-weight: 400;
  font-size: 1rem;
}

/**menu **/
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top:2rem;
  padding-bottom: 0;
}

nav ul li{
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul li a{
  padding: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: #6d6e71;
  text-decoration: none;
}
nav ul li a:hover{
  text-decoration: underline #a2dbf7;
}

nav ul li a:active {
  text-decoration: underline;
  color: #a2dbf7;
}

/**icons and projects**/
.projects {
  padding-top: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 0rem;
  justify-content: center;
}

article {
  margin: auto;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 800px;
}

article img {
  border-radius: 2rem;
  padding-top: 1rem;
  max-width: 100%;
  justify-content: center;
}

article p {
  padding-bottom: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #6d6e71;
  font-weight: 900;
  line-height: 1.5rem;
  text-align: left;
}

#container a {
  font-weight: bold;
  text-decoration: none;
  background-color: #a2dbf7;
  color: black;
  border: solid;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
  border-color: #a2dbf7;
  cursor: pointer;
}

#container p {
  padding-top: 2.5rem;
}

#email {
  text-align: center;
}

#email a:hover {
  background-color: #ffcfbc;
  border-color: #ffcfbc;
}

/**footer**/
footer {
  margin-top: 7rem;
  padding: 5rem;
  border-top: 3px solid #a2dbf7;
  justify-content: flex-end;
  text-align: center;
}

footer h2 {
  color: #6d6e71;
  padding-bottom: 1rem;
}

footer p a {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  text-decoration: none;
  color: #6d6e71;
  align-content: center;
  background-color: #a2dbf7;
  border: solid;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
  border-color: #a2dbf7;
  cursor: pointer;
}

footer a:hover {
  background-color: #ffcfbc;
  border-color: #ffcfbc;
}

/**for larger screens**/
@media (min-width:768px) {
  header {
    font-size: 8rem;
  }


  header p {
    font-size: 1.6rem;
  }

  nav ul li a {
    padding: 6rem;
  }

  article img {
    justify-content: left;
  }
}
