
.pagecontainer {
  margin: 0px;
  width: auto;
  height: auto;
  padding:0px
}

header {
  font-family: 'Rubik Mono One', sans-serif;
  padding: 2rem;
  text-align: center;
  background-image: url("https://i.gifer.com/K7Pd.gif");
}

body{
  background-image: url("womensrights.jpg");
}



nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  font-family: 'Biryani', sans-serif;
  background: LavenderBlush;
  height: 2rem;
  width: 36rem;
  padding-top: 1rem;
  border-color: black;
  border: solid;
  border-width: 1px;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
nav ul li:active {
  background: DeepPink;
}

.locationmarker {
  background: LightPink;
}

img {
    max-width: 100%;
    height: auto;
}

section{
font-family: "Futura", sans-serif;
padding-left: 2rem;
padding-right: 2rem;
}

article {
  font-family: "futura", sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  font-family: 'Biryani', sans-serif;
  padding: 2rem;
  text-align: center;
  background-image: url("https://i.gifer.com/K7Pd.gif");
}
